:root {
  --boxsize: 10vmin;
}

body {
  background-color: grey;
}

.box {
  display: flex;
  align-items: stretch;
  background-color: white;
  border-style: solid;
  border-width: thin;
  border-color: black;
  width: var(--boxsize);
  height: var(--boxsize);
}

.large-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
  justify-content:center;
  align-self: center;
}

.row {
  display: flex;
}

.test {
  height: 50px;
  width: 50px;
  background-color: blue;
}

.biggerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
